.scroll-tabs {
    display: table;
    border-collapse: collapse;
    box-sizing: border-box;
    table-layout: fixed;
}

%tab {
    border: 1px solid #ccc;
    border-collapse: collapse;
    box-sizing: border-box;
    display: table-cell;
    overflow: hidden;
    padding: 10px;
    white-space: nowrap;
}

.scroll-tabs-more {
    @extend %tab;
    width: 33px;

    &.more::before {
        content: '...';
    }
}

.scroll-tab {
    @extend %tab;

    &.selected {
        background: orange;
    }
}
