.scroll-tabs {
    display: table;
    border-collapse: collapse;
    box-sizing: border-box;
    table-layout: fixed;
}

%tab {
    border: 1px solid #ccc;
    border-collapse: collapse;
    box-sizing: border-box;
    display: table-cell;
    white-space: nowrap;
}

.scroll-tabs-more-link {
    @extend %tab;
    position: relative;
    width: 33px;

    &.more::before {
        content: '...';
        padding: 10px;
    }
}

.scroll-tabs-more {
    position: absolute;
    margin-top: 10px;

    &.head {
        left: 0;
        margin-left: -1px;
    }

    &.tail {
        right: 0;
        margin-right: -1px;
    }
}

.scroll-tab {
    @extend %tab;
    padding: 10px 0 10px 10px;
    position: relative;

    &::before {
        content:'';
        width:100%;
        height:100%;
        position:absolute;
        left:0;
        top:0;
        background:linear-gradient(to left, white, transparent 15px);
    }

    &.selected {
        background: orange;

        &::before {
            background:linear-gradient(to left, orange, transparent 15px);
        }
    }

    &.more {
        display: block;
    }

    .label {
        display: inline-block;
        overflow: hidden;
        width: 100%;
    }

    .count {
        border-radius: 7px;
        color: white;
        font-size: 10px;
        position: absolute;
        right: 5px;
        top: -7px;
        background: #999;
        padding: 0 7px;
        height: 14px;
        text-align: center;
    }
}
